# All node_modules folders
node_modules

# SSL certificates and keys
https/server.key
https/server.cert

# Firebase service account key
firebase/service-account-key-staging.json

# local env file for server
node-server/.env.local

# Client builds
web-client/dist/