# All node_modules folders
node_modules

# Firebase service account key
node-server/firebase/service-account-key-staging.json
node-server/firebase/service-account-key-production.json

# SSL certificates and keys
node-server/https/server.key
node-server/https/server.cert

# local env file for server
node-server/.env.local

# Client builds
web-client/dist/